<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DBD Killer build generator</title>


    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" >

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group btn-group-md" role="group">

                    {{!-- <button class="btn btn-secondary" type="button">
                        Create build
                    </button> --}}
                    <button class="btn btn-secondary" type="button">
                        Perk list
                    </button>
                    <button class="btn btn-secondary" type="button">
                        Addon list
                    </button>
                    
                </div>
                <div class="jumbotron">
                    <h2>
                        {{{body}}}
                    </h2>

                </div>
            </div>
        </div>

    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>